body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  font-family: monospace;
  
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#ui-grid {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre;
  color: #3a3a3a; /* Dark grey default color */
  cursor: default;
  user-select: none;
  padding: 5px 10px;
  font-weight: bolder;
}